<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  
  <extnet theme="Crisp" licenseKey="MTg3MzU5MjIsMyw5OTk5LTEyLTMx" initScriptMode="Linked" />
  <appSettings>
    <add key="SIDTUMCon" value="con28" />
    <add key="SIDTUM_Cat" value="DMT" />
    <add key="RutaDatum" value="http://localhost/dateds/Universal.xml" />
    <!--<add key="SID_autocarga_con" value="con05" />
    <add key="SID_autocarga_cat" value="SID_AutoCargaV3" />
    <add key="CON_PRODUCCION_11" value="con11" />
    <add key="BD_SIDTUM_PROD" value="sidtum_prod" />
    <add key="MyReportViewerUser" value="WebAplication" /> -->
    <!--<add key="MyReportViewerPassword" value="eds543210" /> -->
    <!--<add key="MyReportViewerDomain" value="mxwebserver2k8" /> -->
    <!-- <add key="zReportServerUrl" value="http://192.168.80.13/ReportServer" />-->
    <add key="zReportPath" value="/EDS/DashBoard" />
  </appSettings>
  <assemblyBinding />
  <system.web>
    <trust level="Full" originUrl="" processRequestInApplicationTrust="true" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <!-- This httpHandlers config only required if using IIS6 (or lower) --><!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    --><!-- This httpModules config only required if using IIS6 (or lower) --><!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    --><pages controlRenderingCompatibilityVersion="4.0">
      
      
    <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls><namespaces>
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces></pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0" newVersion="2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
  </system.webServer>
</configuration>